<!-- Google Font -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

<link rel="preload" as="style" href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap">
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" media="print" onload="this.media='all'">

<link rel="preload" as="style" href="https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap">
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap" media="print" onload="this.media='all'">

<!-- Redirect GitHub Pages to Cloudflare Pages -->
<script type="text/javascript">
  var host = window.location.hostname;
  if (host.includes("github.io")) {
    var newURL = window.location.href.replace("beautybookend.github.io/BB", "beautybookend.pages.dev");
    window.location.replace(newURL);
  }
</script>



